html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem;
  }
  
  section {
    background-color: #bbddee;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  
  .iso {
    float: left;
    font-size: 500%;
    width: 5rem;
    text-align: center;
    padding: 2rem;
    background-color: #568;
    color: white;
    border: solid white 1px;
    border-width: 0 1rem 1rem 0;
    margin: -1rem 2rem 2rem -1rem;
  }
  
  img {
    float: left;
    height: 8rem;
    width: 10rem;
    border: solid black 1px;
    border-width: 0 1px 1px 0px;
    margin: -1rem 0 0 -1rem;
  }
  
  .reunaviiva {
    border: 1px solid black;
  }
  
  .banner {
    background-color: white;
    float: left;
    width: 50rem;
    height: 5rem;
    border: solid black 1px;
    border-width: 0 1px 1px 0px;
    margin: -1rem 0 0 -1rem;
    padding: 1rem;
  }
  
  h1,
  h2,
  h3,
  p,
  pre,
  ul {
    margin-block-end: 1rem;
  }
  
  h1 {
    font-size: 1.6rem;
  }
  
  h2 {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: right;
    background-color: #88AABB;
    height: 3rem;
    margin: -1rem -1rem 1rem 1rem;
    padding: 1rem 1rem 0 0;
    
  }
  
  h3 {
    font-size: 1.6rem;
  }
  
  p {
    font-size: 1.6rem;
  }
  
  pre {
    font-size: 1.6rem;
    font-family: 'Courier New', Courier, monospace;
  }
  
  ul {
    font-size: 1.6rem;
  }